<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/footer.css">
    
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <title>Trang chủ</title>

</head>
<body>
    <!-- Header Section -->
    {{>header user=user len_cart=len_cart}}
    <!-- Slideshow Section -->
    <div class="slideshow">
        <div class="welcome-banner">
            <span class="icon">🌱</span>
            <h1>Chào mừng đến với Farmnine</h1>
            <p>
                Farmnine là một dự án thương mại điện tử nhằm cung cấp các sản phẩm nông sản từ các vùng miền ở Việt Nam.
            </p>
            <div class="btn-container">
                <a href="#latest" class="btn" >Tham quan các sản phẩm</a>
            </div>
        </div>
    </div>

    <!-- Category Section -->
    <div class="category">
        <div class="section-header">
            <h2 class="section-title">DANH MỤC SẢN PHẨM</h2>
            <p class="section-description">
                Từ các loại trái cây, rau củ tươi xanh đến các loại thịt, thủy hải sản
            </p>
        </div>

        <div class="category-cards row">
            <div class="category-card col">
                <a href="/all-products?category=vegetable">
                    <div class="category-img">
                        <img src="./img/home/vegetables.png" alt="">
                    </div>
                    <h5 class="name"><b>Rau củ quả</b></h5>
                </a>
            </div>
            
            <div class="category-card col">
                <a href="/all-products?category=fruit">
                    <div class="category-img">
                        <img src="./img/home/fruit.png" alt="">
                    </div>
                    <h5 class="name"><b>Trái cây</b></h5>
                </a>
            </div>
            
            <div class="category-card col">
                <a href="/all-products?category=meat">
                    <div class="category-img">
                        <img src="./img/home/meat.png" alt="">
                    </div>
                    <h5 class="name"><b>Các loại thịt</b></h5>
                </a>
            </div>
            
            <div class="category-card col">
                <a href="/all-products?category=seafood">
                    <div class="category-img">
                        <img src="./img/home/seafood.png" alt="">
                    </div>
                    <h5 class="name"><b>Hải sản</b></h5>
                </a>
            </div>
            
        </div>
    </div>
    <div id="latest"></div>
    <!-- Latest products -->
    <div class="latest-products">
        <div class="section-header">
            <h2 class="section-title">SẢN PHẨM MỚI NHẤT</h2>
            <p class="section-description">
                Từ các loại trái cây, rau củ tươi xanh đến các loại thịt, thủy hải sản
            </p>
        </div>

        <div class="row products">
            {{#each newest_productList}}
            <div class="col product">
                <a {{ link_product_detail name category}} >
                
                    <div class="product-img">
                        <img src= {{img_url}} alt="Product Image" >
                    </div>
                    <p class="name"><b>{{name}}</b></p>
                    <p class="price-container"><span class="price">{{price}}</span>đ</p>
                    <p class="address"> {{location}} </p>
                </a>
            </div>
            {{/each}}

        </div>
    </div>

    <!-- home-info -->
    <div class="home-info">
        <div class="section-header">
            <h2 class="section-title">FARMNINE CUNG CẤP NHỮNG GÌ</h2>
            <p class="section-description">
                Từ các loại trái cây, rau củ tươi xanh đến các loại thịt, thủy hải sản
            </p>
        </div>

        <div class="row infos">
            <div class="col info">
                <div class="info-container">
                    <i class="bi bi-truck"></i>
                    <p><b>Giao dịch nhanh chóng</b></p>
                    <p class="info-description">Mua hàng chỉ bằng 1 cuộc điện thoại</p>
                </div>
            </div>

            <div class="col info">
                <div class="info-container">
                    <i class="bi bi-brightness-high"></i>
                    <p><b>Nông sản sạch, an toàn</b></p>
                    <p class="info-description">Chứng nhận bởi VietGAP, Global GAP...</p>
                </div>
            </div>

            <div class="col info">
                <div class="info-container">
                    <i class="bi bi-award"></i>
                    <p><b>Chứng thực minh bạch</b></p>
                    <p class="info-description">Gian hàng chứng thực rõ ràng, công khai</p>
                </div>
            </div>

            <div class="col info">
                <div class="info-container">
                    <i class="bi bi-basket2"></i>
                    <p><b>Đa dạng</b></p>
                    <p class="info-description">Đa dạng có loại hàng thực phẩm, dễ lựu chọn</p>
                </div>
            </div>

        </div>


    </div>

    <!-- banner -->
    <div class="banner">
        <div class="row banner-row">
            <div class="col banner-info">
                <h2><b>"GIẢI CỨU" <br> DƯA HẤU ĐỎ KON TUM</b></h2>
                <p><b>Mua nông sản ủng hộ bà con nông dân</b></p>
                
                <ul>
                    <li>
                        <i class="bi bi-check-circle"></i>
                        Dưa được lựa chọn một cách kỹ lưỡng
                    </li>
                    <li>
                        <i class="bi bi-check-circle"></i>
                        Đảm bảo các yếu tố vi sinh
                    </li>
                    <li>
                        <i class="bi bi-check-circle"></i>
                        Giá cả phải chăng
                    </li>
                    <li>
                        <i class="bi bi-check-circle"></i>
                        Chất lượng được đảm bảo
                    </li>
                </ul>

                <div class="btn-container">
                    <a href="/product-detail?category=fruit&name=Dưa hấu" class="btn">Mua ngay</a>
                </div>
            </div>

            <div class="col banner-img">
                <img src="./img/home/watermelon.jpg" alt="Watermelon">
            </div>
        </div>
    </div>

    <!-- best-selling -->
    <div class="best-selling">
        <div class="section-header">
            <h2 class="section-title">TOP SẢN PHẨM BÁN CHẠY</h2>
            <p class="section-description">
                Từ các loại trái cây, rau củ tươi xanh đến các loại thịt, thủy hải sản
            </p>
        </div>

        <div class="row products">
            {{#each hottest_productList}}
            <div class="col product">
                <a {{ link_product_detail name category}} >
                
                    <div class="product-img">
                        <img src= {{img_url}} alt="Product Image" >
                    </div>
                    <p class="name"><b>{{name}}</b></p>
                    <p class="price-container"><span class="price">{{price}}</span>đ</p>
                    <p class="address"> {{location}} </p>
                </a>
            </div>
            {{/each}}

        </div>
    </div>

    <!-- discount -->
    <div class="discount">
        <div class="row banner-row">
            <div class="col banner-img">
                <img src="./img/home/meat.png" alt="Watermelon">
            </div>

            <div class="col banner-info">
                <h2><b>GIẢM GIÁ ĐẾN <span>50%</span> <br> CÁC LOẠI THỊT</b></h2>
                <p><b>Chỉ có tại Farmnine</b></p>
                
                <ul>
                    <li>
                        <i class="bi bi-check-circle"></i>
                        Số lượng có hạn
                    </li>
                    <li>
                        <i class="bi bi-check-circle"></i>
                        Vẫn đảm bảo được chất lượng tươi ngon
                    </li>
                    <li>
                        <i class="bi bi-check-circle"></i>
                        Giá cả phải chăng
                    </li>
                </ul>

                <div class="btn-container">
                    <a href="/all-products?category=meat" class="btn">Mua ngay</a>
                </div>
            </div>
        </div>

        <div class="related-prod row">
            <h5 class="title col"><b>Sản phẩm liên quan</b></h5>
            <a href="/all-products" class="col see-all">Xem tất cả</a>
        </div>

        <div class="row products">
            {{#each meat1_productList}}
            <div class="col product">
                <a {{ link_product_detail name category}} >
                
                    <div class="product-img">
                        <img src= {{img_url}} alt="Product Image" >
                    </div>
                    <p class="name"><b>{{name}}</b></p>
                    <p class="price-container"><span class="price">{{price}}</span>đ</p>
                    <p class="address"> {{location}} </p>
                </a>
            </div>
            {{/each}}
        </div>

        <div class="space"></div>
        <div class="row products">
            {{#each meat2_productList}}
            <div class="col product">
                <a {{ link_product_detail name category}} >
                
                    <div class="product-img">
                        <img src= {{img_url}} alt="Product Image" >
                    </div>
                    <p class="name"><b>{{name}}</b></p>
                    <p class="price-container"><span class="price">{{price}}</span>đ</p>
                    <p class="address"> {{location}} </p>
                </a>
            </div>
            {{/each}}
        </div>
        <div class="space"></div>
        <div class="space"></div>
    </div>

    <!-- Customer feedback -->
    <div class="feedback">
        <div class="section-header">
            <h2 class="section-title">ĐÁNH GIÁ CỦA KHÁCH HÀNG</h2>
        </div>

        <div class="row customers">
            <div class="col customer">
                <div class="customer-container">
                    <div class="customer-pic">
                        <img src="./img/home/profile-pic.png" alt="Customer">
                    </div>
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    <p class="customer-description">“Nông sản sạch online yên tâm về chất lượng”</p>
                    <p class="name">Anh A</p>
                </div>
            </div>

            <div class="col customer">
                <div class="customer-container">
                    <div class="customer-pic">
                        <img src="./img/home/profile-pic.png" alt="Customer">
                    </div>
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    <p class="customer-description">“Có nhiều chương trình khuyến mãi, giá tốt”</p>
                    <p class="name">Chị B</p>
                </div>
            </div>

            <div class="col customer">
                <div class="customer-container">
                    <div class="customer-pic">
                        <img src="./img/home/profile-pic.png" alt="Customer">
                    </div>
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    <p class="customer-description">“Chất lượng sản phẩm tốt, giá cả phải chăng”</p>
                    <p class="name">Chị C</p>
                </div>
            </div>

        </div>
    </div>
    <!-- footer -->
    {{>footer}} 

    <script src="./js/app.js"></script>


</body>
</html>